.demoDate {
    // border: 1px solid green;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 7vh;
    text-align: center;
}

