.logo {
    width: 100%;
    height: 50vh;
    background-image: url(../img/RS_Logo_Rond_Sunset_Fond_Blanc_RVB.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
